<p id="notice"><%= notice %></p>

<h1>Cars</h1>

<%#= @honda.brand %>
<br><br>
<%#= @mercedes.model %>
<br><br>
<%# @bmw.each do |car|%>
  <%#= car.model %>
  <%#end %>

<section class="container-index">

<% @car.each do |car| %>
 
  <div>
  <div class="desc">
  <%= car.brand %> 
   
   </div>
   <div class="desc">
   <%= car.model %>
  
   </div>
   <div class="desc">
   <%= car.year %> 
  
   </div>
   <div class="img-index">
   <%= image_tag car.image, style:"width:100%; height: auto" %> 
  
   </div>
   <div class="desc">
   $<%= car.price %>
  
   </div>
   <div class="desc"> 
   <%= car.colour %> 
   
   </div> 
  
   <table class="view">
   <tbody> 
  <tr>
    <td ><%= link_to 'View', car_path(car)%> </td>
 
  <br>
    <br>
    
</tbody>
</table>
</div>
<% end %>
</section>




