<p id="notice"><%= notice %></p>
<div class="desc">
<%= @car.brand%> 
</div>
<div class="desc">
<%= @car.model %>
</div>
<div class="desc">
<%= @car.year %> 
</div>
<div class="img-index">
<%= image_tag @car.image %>  
</div>
<div class="desc">
<%= @car.price %>  
</div>
<div class="desc">
<%= @car.colour %> 
</div>

<%= link_to 'Back', cars_path %>
