<nav>
<%= form_tag(cars_path, method: :get) do %>
  <%= search_field_tag(:search_brand, params[:search_brand], placeholder: "Brand") %>
  
  
 
  
<br><br>
  <%= form_tag(cars_path, method: :get) do %>
    <%= search_field_tag(:search_model, params[:search_model], placeholder: "Model") %>
   
    
   
   
    <br><br>
    <%= form_tag(cars_path, method: :get) do %>
      <%= search_field_tag(:search_year, params[:search_year], placeholder: "Year") %>
      
      
     

      <br><br>
      <%= form_tag(cars_path, method: :get) do %>
        <%= search_field_tag(:search_price, params[:search_price], placeholder: "Price", required: true) %>
        
        

        <br><br>
        <%= form_tag(cars_path, method: :get) do %>
          <%= search_field_tag(:search_colour, params[:search_colour], placeholder: "Colour") %>
          
          <%= submit_tag ("Search") %>
         
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          <% end %>
          
</nav>

