<nav>
<%= form_tag(cars_path, method: :get) do %>
  <%= search_field_tag(:search_brand, params[:search_brand]) %>
  
  <%= submit_tag ("Search by Brand") %>
  <% end %>
  
<br><br>
  <%= form_tag(cars_path, method: :get) do %>
    <%= search_field_tag(:search_model, params[:search_model]) %>
    
    <%= submit_tag ("Search by Model") %>
   
    <% end %>
    <br><br>
    <%= form_tag(cars_path, method: :get) do %>
      <%= search_field_tag(:search_year, params[:search_year]) %>
      
      <%= submit_tag ("Search by Year") %>
     
      <% end %>

      <br><br>
      <%= form_tag(cars_path, method: :get) do %>
        <%= search_field_tag(:search_price, params[:search_price]) %>
        
        <%= submit_tag ("Search by Max Price") %>
       
        <% end %>

        <br><br>
        <%= form_tag(cars_path, method: :get) do %>
          <%= search_field_tag(:search_colour, params[:search_colour]) %>
          
          <%= submit_tag ("Search by Colour") %>
         
          <% end %>
</nav>

